 footer{
    
     text-align: center;
     padding: 0%;
     color:white;
     margin-top: 5%;
     margin-left: 0;
     margin-right: 0;
     margin-bottom: 0;
     
    
     
    
     
     
     

     #div-bleu{
         
        background-color: rgb(52, 52, 170);
        
        h1{
            padding-top: 30px;
        }
         
     }

   .reseaux-sociaux>i{
        
          margin: 0.5%;
          font-size: 200%;
          padding-bottom: 30px;
    }

    #copyright{
       background-color: black;
        padding: 1%;

      
        
        
    }
}