.section-2{
    

    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5%;
    // width: 100%;

            div{
        
        background-color: #D5D6D6;
        margin: 1%;
        padding: 1%;
    }

    

}